body
{
	display: flex;
	font-family: calibri, arial ;
	font-size: 80%;
	justify-content: center;
}

h5
{
	padding-bottom: 6%;
}

header
{
	margin-bottom: 10%;
}

#gauche
{
	display: flex;
	max-width: 15% ;
	background-color:  #f7cc0b ;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;

}

.moi{
  width : 150px; height : 150px;
  border: none;
  border-radius : 75px;
 box-shadow: 10px 5px 5px black
}

.titregauche
{
	background-color:    #464339;
	color:  #f7cc0b ;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.titredroit
{

	border-bottom: 1px solid  #f7cc0b;
	margin-top: 8.5%;
	padding-bottom: 2%
}

.texte1
{
	text-align: left;
	padding-left: 10%;
	padding-right: 10%;
}

.raphael
{
	color:  #f7cc0b;
}

#droit
{
	padding-left: 2%;
}

.dev
{
	text-decoration : underline  #f7cc0b;
}

.raph
{
font-size: 4em;
}

.devel
{
	font-size: 2em
}

.ohmeukal
{
	display: flex;
}

.nom
{
	margin-left: 8%
}

.nom2
{
	margin-left: 9%
}

.ra
{
  text-align: left;
  margin-right: 5%;
  list-style:none;
  content: "\2022";
  float: left;
  color: #3E2723;
  width: 200px;
}

.titrearticle
{
	font-weight: bold;
	font-size: 1.3em;
	color: black;
}

.loisirs
{
	padding-top: 10%;
}

.ra3
{
	list-style:none;
	padding-left: 10%;
	padding-right: 9%;
}

.fa-plane-departure , .fa-tv , .fa-dumbbell
{
    font-size: 200%;
    margin-right: 5%;
    color:   #464339;
}
.fa-user-graduate , .fa-briefcase , .fa-pen
{
	   font-size: 200%;
    margin-right: 5%;
    color: #f7cc0b;
}
.fa-circle
{
	color:  #f7cc0b ;
	font-size: 10px;
	padding-right: 2%;
}

.fa-dot-circle
{
	color:  #f7cc0b;
	padding-right: 2%;
}


@media all and (max-width: 1024px)
{
	body
	{
		display: flex;
		flex-direction: column-reverse; /*commande interessante aussi display:none;*/
		max-width: 100%;
		font-size: 200%
	}
	#gauche
	{

		max-width: 100% ;

	}

	.moi
	{
		width : 300px; height : 300px;
		  border: none;
  border-radius : 150px;
 box-shadow: 10px 5px 5px black
	}

	.ra3
	{
		font-size: 70%;
	}
}