#container
{
	display: flex;
	font-family: calibri, arial ;
	font-size: 80%;
	justify-content: center;
}

h5
{
	padding-bottom: 6%;
}
a
{
	color:black;
}
#info p   /* enlever marge tout les p block info*/
{
 	margin:0px
}

aside
{
	margin-bottom: 10%;
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 100%;
	background-color:  #f7cc0b ;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
	border:1px solid black;

}

.moi{
  width : 80%; height : 90%;
  border: none;
  border-radius : 100%;
 box-shadow: 10px 5px 5px black
}
.titregauche
{
	background-color:    #464339;
	color:  #f7cc0b ;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.titredroit
{

	border-bottom: 1px solid  #f7cc0b;
	margin-top: 15%;
	padding-bottom: 2%
}

.texte1
{
	text-align: left;
	padding-left: 10%;
	padding-right: 10%;

}

.raphael
{
	color:  #f7cc0b;
}

main
{
	padding-top: 3%;
	padding-left: 2%;
	padding-right: 5%;
	border:1px solid black;

	
}

.dev
{
	text-decoration : underline  #f7cc0b;
}

.raph
{
font-size: 4em;
}

.devel
{
	font-size: 2em
}

.ohmeukal
{
	display: flex;
	padding-top: 3%
}

.nom
{
	margin-left: 8%
}

.nom2
{
	margin-left: 9%
}

.ra
{
  text-align: left;
  margin-right: 0%;
  list-style:none;
  content: "\2022";
  float: left;
  color: #3E2723;
  width: 200px;
  padding-left: 0px;

}
.ra2
{

}
.titrearticle
{
	font-weight: bold;
	font-size: 1.3em;
	color: black;
}
.propos
 {
 	padding-bottom: 80%
 }

.loisirs
{
	padding-top: 10%;

}

.ra3
{
	list-style:none;
	padding-left: 10%;
	padding-right: 9%;
	padding-left: 0px;
}
.ra4
{
	list-style:none;
	padding-left: 15%;
	padding-right: 9%;
}
.fa-plane-departure , .fa-tv , .fa-dumbbell
{
    font-size: 200%;
    margin-right: 5%;
    color:   #464339;
}
.fa-user-graduate , .fa-briefcase , .fa-pen
{
	   font-size: 150%;
    margin-right: 5%;
    color: #f7cc0b;
}
.fa-circle
{
	color:  #f7cc0b ;
	font-size: 10px;
	padding-right: 2%;
}

.fa-dot-circle
{
	color:  #f7cc0b;
	padding-right: 2%;
}


@media all and (max-width: 1024px)
{
	
	#container
	{
		display: flex;
		flex-direction: column-reverse; /*commande interessante aussi display:none;*/
		max-width: 100%;
		font-size: 150%
	}
	.titredroit
	{

	border-bottom: 1px solid  #f7cc0b;
	margin-top: 8%;
	padding-bottom: 2%
	}
	aside
	{
		display: flex;
		width: 100%;
	}
	main
	{
		width: 93%;
	}
	.propos
 	{
 	padding-bottom: 5%
 	}

	.moi
	{
  width : 60%; height : 70%;
  border: none;
  border-radius : 100%;
 box-shadow: 10px 5px 5px black;
 margin-top:10%;
	}
	.ra3
	{
		font-size: 90%;
	}

	.fa-user-graduate , .fa-briefcase , .fa-pen
{
	   font-size: 100%;
    margin-right: 5%;
    color: #f7cc0b;
}
}

@media all and (max-width: 700px)
{
	#container
	{
		display: flex;
		flex-direction: column-reverse; /*commande interessante aussi display:none;*/
		max-width: 100%;
		font-size: 100%
	}
	aside
	{
		display: flex;
		width: 100%;
	}
	.titredroit
	{

	border-bottom: 1px solid  #f7cc0b;
	margin-top: 8%;
	padding-bottom: 2%
	}
	.propos
 	{
 	padding-bottom: 5%
 	}

	.moi
	{
  width : 60%; height : 70%;
  border: none;
  border-radius : 100%;
 box-shadow: 10px 5px 5px black
  margin-top:10%;
	}

	.ra3
	{
		font-size: 90%;
	}

	.fa-user-graduate , .fa-briefcase , .fa-pen
{
	   font-size: 100%;
    margin-right: 5%;
    color: #f7cc0b;
}
}
